@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

body {
  background-color: rgb(0, 0, 0) !important;
}
/* Preloader full screen */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; /* background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#preloader img {
  width: 120px; /* adjust size */
  height: auto;
}

.mobile-version {
  display: none;
}
.container {
  display: flex;
}
.gradient {
  position: absolute;
  top: -450px;
  right: 0px;
  height: 1100px;
  width: 70vw;
  background: radial-gradient(circle, #f09f00 0%, rgb(0 95 212 / 0%) 60%);
  border-radius: 50%;
  opacity: 0.5;
  animation: gradientMove 6s ease-in-out infinite;
}

/* Navabar-Section */
.logo {
  font-size: 18px;
  color: #fff;
}
ul {
  padding: 0 !important;
}
ul,
li {
  margin-bottom: 0 !important;
}
.navbar {
  /* background: linear-gradient(to bottom, #0000003d, transparent); */
  margin: 0 !important;
}
.navbar-container {
  display: flex;
  justify-content: center;
}
.navbar li {
  list-style-type: none;
  padding: 0 20px;
  cursor: pointer;
}
.navbar li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.navbar.scrolled li a {
  color: #000 !important;
}
.btn.btn-warning {
  /* background-color: #f09f00; */
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 500;
}
.content {
  position: relative;
  width: 100%;
  color: #fff;
}
header {
  height: 100%;
  margin-top: 12rem;
}
.blur-image {
  width: 100%;
  filter: blur(20px);
  opacity: 0;
  transition: filter 0.8s ease-out, opacity 0.8s ease-out;
}
.blur-image.active {
  filter: blur(0px);
  opacity: 1;
}

.hero .profile {
  position: absolute;
  z-index: 99;
  width: 600px;
  margin-bottom: 20px;
}
.job-role span {
  border: 0.3px solid #fff;
  padding: 10px 20px;
  border-radius: 30px;
}
.container.social-media {
  margin-top: 100px;
  opacity: 0;
}
.container.social-media ul li {
  z-index: 99;
  padding: 0 15px;
  list-style-type: none;
}
.container.social-media a {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}
.abouts {
  filter: blur(0px);
}
.about-section::before {
  background: linear-gradient(to bottom, #000000fa, transparent);
}
.about-section {
  height: 100vh;
  position: relative;
  z-index: 100;
  background: #fff;
  margin-top: 7rem;
}
.about-section img {
  opacity: 0.5;
}
.about-section h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}
#skills {
  padding: 2rem 5rem;
  font-weight: 600;
}

#skills .col-12 {
  font-size: 6rem;
  color: #fff;
}
#skills .col-12:hover {
  color: #f09f00;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.contact-section h1 {
  font-size: 6rem;
  font-weight: 700;
}
.contact-section .btn-sp {
  background-color: rgb(88, 92, 122);
  color: #fff;
  font-size: 13px;
  border-radius: 50px;
}
.contact-section .form-control,
.contact-section .form-control:focus {
  background-color: #ffffff1a;
  border: 1px solid #ffffff39;
  border-radius: 50px;
  color: #fff;
  outline: none;
}
.contact-section .address-textarea,
.contact-section .address-textarea:focus {
  border-radius: 15px;
}
.contact-section .btn.btn-primary {
  border-radius: 50px;
  margin-top: 20px;
}
.contact-section {
  height: 70vh;
  background: linear-gradient(
    to top right,
    rgba(0, 102, 255, 0.399),
    transparent
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
/* Responsivness */

/* Mobile */
@media (min-width: 376px) and (max-width: 767px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .mobile-version {
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
  }
  .p1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }
  .p2 {
    font-weight: 400;
    font-size: 14px;
  }
  .hide {
    display: none !important;
  }
  .gradient {
    position: absolute;
    top: -450px;
    right: 0px;
    height: 1000px;
    width: 100vw;
    background: radial-gradient(circle, #f09f00 0%, rgb(0 95 212 / 0%) 60%);
    border-radius: 50%;
    opacity: 0.5;
    animation: gradientMove 6s ease-in-out infinite;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    background-color: #ffffff25 !important;
    border-radius: 30px;
    color: #fff;
    backdrop-filter: blur(10px);
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .mobile-version {
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
  }
  .p1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }
  .p2 {
    font-weight: 400;
    font-size: 14px;
  }
  .hide {
    display: none !important;
  }
  .gradient {
    position: absolute;
    top: -450px;
    right: 0px;
    height: 1100px;
    width: 100vw;
    background: radial-gradient(circle, #f09f00 0%, rgb(0 95 212 / 0%) 60%);
    border-radius: 50%;
    opacity: 0.5;
    animation: gradientMove 6s ease-in-out infinite;
  }
}

/* desktop */
@media (min-width: 992px) {
  .container {
    padding: 0 3rem;
  }
  .navbar {
    margin: 10px 0;
  }
  .navbar-nav {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #ffffff25;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 470px;
    height: 55px;
    backdrop-filter: blur(10px);
  }
  .hero h1 .text-1 {
    position: absolute;
    top: 50px;
    font-size: 2rem;
    font-weight: 400;
  }
  .hero h1 .name-span {
    font-size: 14rem;
    font-weight: 600;
  }
  .hero h1 .job-role {
    font-size: 2rem;
  }
  .job-role {
    position: relative;
    z-index: 99;
    text-align: end;
    top: -40px;
  }
}
